@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.px-dd{
    padding-left: 8%!important;
    padding-right: 8% !important;
}
.sub-head {
    background-image: url(/img/Rectangle\ 3.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }
.appoin{
    background-image: url(../img/rectanggg.png );
    background-size:cover;
}

.text {
    top: 0;
    left: 80rem;
    color: #159eec !important;
    padding-top: 30%;
    padding-top: 40px;
}
  
.sub-head .text h6 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #1f2b6c;
    padding-right: 2%;
    padding-top: 50px;
}

.sub-head .text h1 {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 55px;
    color: #1f2b6c;
    padding-right: 2%;
    padding-bottom: 10px;
}

  
.first-line {
    border-bottom: #bfd2f8 solid 10px;
    width: 305.7px;
    height: 8px;
}
  
.second-line {
    height: 8px;
    width: 837.2px;
    border-bottom: #1f2b6c solid 10px;
}
  
.third-line {
    height: 8px;
    width: 297.076614px;
    border-bottom: 10px solid #159eec;
}
.book-text{
    padding-top: 5%;
}

.text .head-text{
    padding-left: 13%;
}

.text .head-text1{
    font-family: 'Work Sans';
    line-height: 140%;
}

.text .head-text2{
    font-family: Yeseva One;
    line-height: 55px;
}

.heading{
    font-family: 'Yeseva One';
    line-height: 50px;
    padding-top: 14%;
}
.book{
    padding-top: 0%;
}

.primary{
    background-color: #1F2B6C ;
}
.py-5{
    padding-bottom: 80px !important;
}
.pb-5{
    padding-bottom: 100px !important;
}
.btn-color{
    background: #BFD2F8;

}

.btn-t{
    padding-left: 40%;
}

.pr-t{
    padding: 0%;
    margin: 0%;
}

.pr-l{
    padding-top: 0%;
}

.Shedule-section{
    margin-top: 10%;
}

.fill-color{
    background-color: #1F2B6C;
    border: none;
    opacity: 0.999;
    margin: 0.05em auto;
}

.bg-primary{
    background-color:#1F2B6C !important;
}

body{
    overflow-x: hidden
}
p,input{
    font-family: 'Work Sans', sans-serif;
}

#book img{
position: absolute; 
width: 3em;
height: 3em;
top: 0px;
background: #BFD2F8;
opacity: 0.5;
border-radius: 0 0 100% 0; 
}


input::placeholder, textarea::placeholder{
    color: white;
    opacity: 1; 
  }
  
  input::-ms-input-placeholder, textarea::-ms-input-placeholder{ 
    color: white;
  }

  .bg-primary{
   background-color:#1F2B6C !important;
  }

  input[type="submit"], .bg {
      background-color: #BFD2F8 !important;
      color: #1F2B6C !important;
  }

  #schedule, #phone{
      color:#BFD2F8 !important;
      font-family: 'Yeseva One', cursive !important;
  }
  #appoint, #hl{
      color: #1F2B6C !important;
      font-family: 'Yeseva One', cursive !important;
      font-weight: 500;
  }

  .git {
    color: #159EEC;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}
.contact {
    color:  #1F2B6C;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
}
  .dark-blue {
    height: 15rem;
    width: 100%;
    background-color: #1F2B6C;
    color: #BFD2F8;
}
.sky-blue {
    height: 15rem;
    width: 100%;
    background-color:#BFD2F8;
    color: #1F2B6C;
}
.blue-content {
    line-height: 0.5rem;
    font-size: 0.8rem;
}
    #submit-btn {
    font-size: 0.8rem;
    color: #1F2B6C;
}
.text-seablue{
    color: #159EEC;
}
.text-skyblue{
    color: #BFD2F8;
}
.text-darkblue{
    color: #1F2B6C;
}
.yeseva-2{
    font-family: 'Yeseva One', cursive;
    font-size: 2rem;
}
.body{
    font-size: 1rem;
}
.small{
    font-size: 0.7rem;
}

.emmer{
    padding-right: 20%;
    
}